@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&family=Red+Hat+Mono:wght@300&family=Ubuntu:wght@300;400&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Lobster', cursive;
    //font-family: 'Fredoka', sans-serif;
    //font-family: 'Ubuntu', sans-serif;
    //font-family: 'Red Hat Mono', monospace;
    font-family: 'Quicksand', sans-serif;
    transition: 200ms ;

}

body{
    width:100vw;
    overflow-x: hidden;
    position: relative;
    .nav{
        position: fixed;
        top:0;
        left:0;
    }
    .home{
        .hi{
            font-family: 'Secular One', sans-serif;
            font-size: xx-large;

        }
        .h1:hover ~ .mouse{
            width: 80px;
            height:80px;
        }
    }
    .about{
        font-family: 'Source Sans Pro', sans-serif !important;

    }
}
.nav{
    background: rgba(236, 235, 235, 0.2);
  box-shadow: 0 5px 14px 0 rgba(188, 189, 196, 0.37);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 0px;
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: all 700ms ;
  }
  .dark .nav{
    background: rgba(45, 48, 56, 0.2);
    box-shadow: 0 5px 14px 0 rgba(49, 50, 54, 0.37);
    border-bottom: 1.5px solid rgba(76, 84, 110, 0.18);
  }
  @media only screen and (min-width:'1000px') {
      
  }
    .heart {
    
    
    background:inherit;
    opacity:0.4;
    animation:beat 1s infinite;
    }
    .mobilenav{
        background: rgba(194, 194, 194, 0.5);
        box-shadow: 0 5px 14px 0 rgba(188, 189, 196, 0.37);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 20px );
        border-bottom: 1.5px solid rgba( 255, 255, 255, 0.18 );
    }

    .dark .mobilenav{
        background: rgba(63, 59, 59, 0.2);
    }
    
    
    .dropdown{
        
       z-index: 30;
        background: rgba(226, 224, 224, 0.5);
        box-shadow: 0 5px 14px 0 rgba(188, 189, 196, 0.37);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 20px );
        border-bottom: 1.5px solid rgba( 255, 255, 255, 0.18 );
    }
    .dark .dropdown{
        background: rgba(63, 59, 59, 0.2);
        box-shadow: 0 0px 5px 0 rgba(133, 134, 134, 0.37);
    }
    @keyframes beat {
    0% {transform:scale(1.1);opacity:1}
    50% {transform:scale(1.5);opacity:0.9}
    100% {transform:scale(1.5);opacity:1}
    }
    .blink{
        animation: blink 0.7s infinite ease-out
    }
    @keyframes blink {
        0% { opacity: 0; }
        
        100% { opacity: 1; }
        }

    @import '_navbar.scss'


    